/* /Components/Footer.razor.rz.scp.css */
#footer[b-0ypt7511n0]
{
    border-top: 5px solid;
    background-color: var(--rw-notice-grey-dark);
}

.footer[b-0ypt7511n0]
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-brand img[b-0ypt7511n0]
{
    width: 50px;
}

#button-jump-to-top[b-0ypt7511n0]
{
    width: auto;
}

@media (max-width: 575px)
{
    #footer[b-0ypt7511n0]
    {
    }

    #footer-text[b-0ypt7511n0]
    {
        font-size: 0.8rem;
    }

    #footer-brand[b-0ypt7511n0]
    {
        display: none;
    }
}

@media (min-width: 575px)
{
    #footer-text[b-0ypt7511n0]
    {
        font-size: 1rem;
    }
}
/* /Components/MainLayout.razor.rz.scp.css */
@media (min-width: 992px)
{
    #body[b-jmag1m76rg]
    {
        display: grid;
        grid-template-areas: "sidebar content";
        grid-template-columns: auto 5fr;
        gap: 1rem;
    }
}

#pages[b-jmag1m76rg]
{
    grid-area: sidebar;
}

#content[b-jmag1m76rg]
{
    grid-area: content;
    background-color: var(--rw-notice-grey-light);    
    order: 1;    
    border-radius: 1rem;
    box-shadow: 0 0 0 2px #000;
}


@media (min-width: 992px)
{
    #content[b-jmag1m76rg]
    {
    }

    #pages[b-jmag1m76rg]
    {
        position: -webkit-sticky;
        position: sticky;
        top: 9rem;
        display: block !important;
        height: calc(100vh - 5rem);
        padding-left: 0.25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
        background-color: var(--rw-notice-grey-light);
        border-radius: 1rem;
        box-shadow: 0 0 0 2px #000;
    }
}

@media (max-width: 991.98px)
{
    #content[b-jmag1m76rg]
    {
        max-width: 760px;
        margin-inline: auto;
        min-height: calc(100vh - 5rem);
    }
}

@media (min-width: 768px)
{
    #content[b-jmag1m76rg]
    {

    }
}
/* /Components/NavBar.razor.rz.scp.css */
#header[b-0y2czajmw0]
{
    padding: 0.75rem 0;
    border-bottom: 5px solid;
    background-color: var(--rw-notice-grey-dark);
}

.offcanvas-body[b-0y2czajmw0]
{
    align-items: center;
    justify-content: end;
}

.navbar-toggler[b-0y2czajmw0]
{
    box-shadow: 0px 0px 0px 2px var(--rw-rabbit-blue-tint-55);
    border-radius: 0.25rem;
    border: none;
    background-color: var(--rw-notice-grey-light);
}

.navbar-toggler:focus[b-0y2czajmw0]
{
    box-shadow: 0px 0px 0px 2px var(--rw-rabbit-red);
    border-radius: 0.25rem;
}

.navbar-toggler:hover[b-0y2czajmw0]
{
    box-shadow: 0px 0px 0px 2px var(--rw-rabbit-red);
    border-radius: 0.25rem;
}

.navbar-toggler svg[b-0y2czajmw0]
{
    width: 1.5rem;
    height: 1.5rem;
}

nav .offcanvas-lg[b-0y2czajmw0]
{
    background-color: var(--rw-talks-grey);
}

    nav[b-0y2czajmw0]  .button
    {
        border-radius: 4px;
    }

#navbar-brand img[b-0y2czajmw0]
{
    width: 50px;
}

@media(min-width: 575px)
{
    #navbar-brand img[b-0y2czajmw0]
    {
        width: 100px;
    }
}


@media (min-width: 641px)
{
    nav[b-0y2czajmw0]
    {
        /*position: sticky;*/
        top: 0;
        z-index: 1;
    }

    .offcanvas-title[b-0y2czajmw0]
    {
        display: none;
    }
}

@media (max-width: 991.98px)
{
    #navbar-toggler[b-0y2czajmw0]
    {
        width: 4.25rem;
    }

    #sidebar-toggler[b-0y2czajmw0]
    {
        width: 4.25rem;
    }
}
/* /Components/Shared/Button.razor.rz.scp.css */
.button[b-xqu2yr3zdm]
{
    border-radius: 40px;
    background-color: var(--rw-notice-grey-light);
    outline: 2px solid var(--rw-rabbit-blue);
    margin: 0.5rem;
    width: fit-content;
}

.button-text[b-xqu2yr3zdm]
{
    padding-left: 0;
}

.button a[b-xqu2yr3zdm], .button .link[b-xqu2yr3zdm]
{
    color: var(--rw-rabbit-blue);
    background-color:  var(--rw-notice-grey-light);
    text-decoration: none;
    align-items: center;
}

.button:active[b-xqu2yr3zdm]
{
    background-color:  var(--rw-notice-grey-light);
}

.button:hover[b-xqu2yr3zdm]
{
    outline: 2px solid var(--rw-rabbit-red);
}

.button:hover a[b-xqu2yr3zdm], .button:hover .link[b-xqu2yr3zdm]
{
    text-decoration: none;
    color: var(--rw-rabbit-red);
}
/* /Components/Shared/ImageButton.razor.rz.scp.css */
.button[b-q40nt5opzd]
{
    border-radius: 40px;
    background-color: var(--rw-notice-grey-light);
    outline: 2px solid var(--rw-rabbit-blue);
    margin: 0.5rem;
    width: fit-content;
}

.button-text[b-q40nt5opzd]
{
    padding-left: 0;
}

.button a[b-q40nt5opzd], .button .link[b-q40nt5opzd]
{
    color: var(--rw-rabbit-blue);
    background-color: var(--rw-notice-grey-light);
    text-decoration: none;
    align-items: center;
}

.button:active[b-q40nt5opzd]
{
    background-color: var(--rw-notice-grey-light);
}

.button:hover[b-q40nt5opzd]
{
    outline: 2px solid var(--rw-rabbit-red);
}

    .button:hover a[b-q40nt5opzd], .button:hover .link[b-q40nt5opzd]
    {
        text-decoration: none;
        color: var(--rw-rabbit-red);
    }
/* /Components/Shared/JumpToTopButton.razor.rz.scp.css */
.row[b-a3vz0hzi1p]
{
    flex-wrap: none;
}

.button[b-a3vz0hzi1p]
{
    border-radius: 40px;
    background-color: var(--rw-notice-grey-light);
    outline: 2px solid var(--rw-rabbit-blue);
    margin: 0.5rem;
    width: fit-content;
}

.button-text[b-a3vz0hzi1p]
{
    padding-left: 0;
}

.button a[b-a3vz0hzi1p], .button .link[b-a3vz0hzi1p]
{
    color: var(--rw-rabbit-blue);
    background-color: var(--rw-notice-grey-light);
    text-decoration: none;
    align-items: center;
}

.button:active[b-a3vz0hzi1p]
{
    background-color: var(--rw-notice-grey-light);
}

.button:hover[b-a3vz0hzi1p]
{
    outline: 2px solid var(--rw-rabbit-red);
}

    .button:hover a[b-a3vz0hzi1p], .button:hover .link[b-a3vz0hzi1p]
    {
        text-decoration: none;
        color: var(--rw-rabbit-red);
    }
/* /Components/SideBar.razor.rz.scp.css */
#sidebar[b-9nsodt6yp4]
{
    background-color: var(--rw-talks-grey);
}

.nav-link[b-9nsodt6yp4]
{
    display: grid;
    gap: 0;
}

.oi[b-9nsodt6yp4]
{
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-9nsodt6yp4]
{
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-9nsodt6yp4]
    {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-9nsodt6yp4]
    {
        padding-bottom: 1rem;
    }

    .nav-item[b-9nsodt6yp4]  a
    {
        outline: 2px solid var(--rw-rabbit-blue);
        color: #000;
        background-color: var(--rw-talks-grey-tint-55);
        border-radius: 4px;
        height: 3rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item[b-9nsodt6yp4]  a.active
        {
            background-color: var(--rw-notice-grey-dark);
            color: #000;
            outline: 2px solid var(--rw-zombie-orange);
        }

        .nav-item[b-9nsodt6yp4]  a:hover
        {
            outline: 2px solid var(--rw-rabbit-red);
            color: #000;
        }

@media (min-width: 641px)
{
    .collapse[b-9nsodt6yp4]
    {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.nav-item[b-9nsodt6yp4]  #rw-talks
{
    color: #000;
    background-color:  var(--rw-talks-orange-light);
}

    .nav-item[b-9nsodt6yp4]  #rw-talks.active
    {
        background-color:  var(--rw-talks-orange-dark);
    }

.nav-item[b-9nsodt6yp4]  #rw-plays
{
    color: #000;
    background-color: var(--rw-plays-blue-light);
}

    .nav-item[b-9nsodt6yp4]  #rw-plays.active
    {
        background-color: var(--rw-plays-blue-dark);
    }

.nav-item[b-9nsodt6yp4]  #rw-makes
{
    color: #000;
    background-color: var(--rw-makes-green-light);
}

    .nav-item[b-9nsodt6yp4]  #rw-makes.active
    {
        background-color: var(--rw-makes-green-dark);
    }

.nav-item[b-9nsodt6yp4]  #rw-does
{
    color: #000;
    background-color: var(--rw-does-pink-light);
}

    .nav-item[b-9nsodt6yp4]  #rw-does.active
    {
        background-color: var(--rw-does-pink-dark);
    }
/* /Pages/Channel/FetchData.razor.rz.scp.css */
#rw-fetch[b-ak75ssim7e]
{

}
/* /Pages/Does/Does.razor.rz.scp.css */
#rw-does[b-alcpu3pnrz]
{

}
/* /Pages/Experimental/Counter.razor.rz.scp.css */
#rw-counter[b-050eqx2xez]
{

}
/* /Pages/Fungrounds/ConcreteJungle.razor.rz.scp.css */
#rw-treasure-hunt[b-d0je65wen9]
{
}

    #rw-treasure-hunt[b-d0je65wen9]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-treasure-hunt[b-d0je65wen9]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-treasure-hunt[b-d0je65wen9]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }

@media (min-width: 768px)
{
    .two-image-spread[b-d0je65wen9]
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .four-image-spread[b-d0je65wen9]
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}

.two-image-spread img[b-d0je65wen9], .four-image-spread img[b-d0je65wen9]
{
    max-height: 300px;
}
/* /Pages/Fungrounds/DemolitionDerby.razor.rz.scp.css */
#rw-demolition-derby[b-7iy36seif5]
{
}
    #rw-demolition-derby[b-7iy36seif5]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-demolition-derby[b-7iy36seif5]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-demolition-derby[b-7iy36seif5]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Fungrounds/DogFight.razor.rz.scp.css */
#rw-dog-fight[b-e0ppgak3a1]
{
}

    #rw-dog-fight[b-e0ppgak3a1]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-dog-fight[b-e0ppgak3a1]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-dog-fight[b-e0ppgak3a1]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }

#dog-fight-landing-strips[b-e0ppgak3a1]
{
    max-height:300px;
}
/* /Pages/Fungrounds/FunGrounds.razor.rz.scp.css */
#rw-fungrounds[b-zdz6ya2ebf]
{
}

[b-zdz6ya2ebf] .tab:hover
{
    background-color: var(--rw-plays-blue);
}

#rw-fungrounds[b-zdz6ya2ebf]  .button
{
    width: auto;
}

#rw-fungrounds .bd-community-modes[b-zdz6ya2ebf]  .button
{
    width: auto;
    background-color: var(--rw-plays-blue-light);
}

#rw-fungrounds .bd-alternative-modes[b-zdz6ya2ebf]  .button
{
    width: auto;
    background-color: var(--rw-plays-red-light);
}

    #rw-fungrounds[b-zdz6ya2ebf]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-fungrounds[b-zdz6ya2ebf]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-fungrounds[b-zdz6ya2ebf]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Fungrounds/GasCanRoulette.razor.rz.scp.css */
#rw-gas-can-roulette[b-jghm0ssa39]
{
}

    #rw-gas-can-roulette::deep .tab:hover[b-jghm0ssa39]
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-gas-can-roulette[b-jghm0ssa39]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-gas-can-roulette[b-jghm0ssa39]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Fungrounds/HideAndSeek.razor.rz.scp.css */
#rw-hide-and-seek[b-oo4p71l572]
{
}

    #rw-hide-and-seek[b-oo4p71l572]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-hide-and-seek[b-oo4p71l572]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-hide-and-seek[b-oo4p71l572]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Fungrounds/ModeVariant.razor.rz.scp.css */
#rw-mode-variant[b-0s1jck3ovy]
{
}

    #rw-mode-variant[b-0s1jck3ovy]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-mode-variant[b-0s1jck3ovy]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-mode-variant[b-0s1jck3ovy]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Fungrounds/Parade.razor.rz.scp.css */
#rw-parade[b-3up69xn5qz]
{
}

    #rw-parade[b-3up69xn5qz]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-parade[b-3up69xn5qz]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-parade[b-3up69xn5qz]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }

@media (min-width: 768px)
{
    .two-image-spread[b-3up69xn5qz]
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .four-image-spread[b-3up69xn5qz]
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}

.two-image-spread img[b-3up69xn5qz], .four-image-spread img[b-3up69xn5qz]
{
    max-height: 300px;
}
/* /Pages/Fungrounds/Race.razor.rz.scp.css */
#rw-race[b-vob2xilonh]
{
}

    #rw-race[b-vob2xilonh]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-race[b-vob2xilonh]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-race[b-vob2xilonh]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Fungrounds/Riddles.razor.rz.scp.css */
#rw-riddles[b-mnmql98vu8]
{
}

    #rw-riddles[b-mnmql98vu8]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-riddles[b-mnmql98vu8]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-riddles[b-mnmql98vu8]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Fungrounds/Shared/PageBase.razor.rz.scp.css */
#rw-pagebase[b-a71xobd8l6]
{
}
/* /Pages/Fungrounds/SharkHunt.razor.rz.scp.css */
#rw-shark-hunt[b-taiv6wiyec]
{
}

    #rw-shark-hunt::deep .tab:hover[b-taiv6wiyec]
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-shark-hunt[b-taiv6wiyec]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-shark-hunt[b-taiv6wiyec]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }

#shark-hunt-limits[b-taiv6wiyec], #shark-hunt-costume[b-taiv6wiyec]
{
    max-height: 300px;
}
/* /Pages/Fungrounds/Training.razor.rz.scp.css */
#rw-treasure-hunt[b-2f16o0671y]
{
}

    #rw-treasure-hunt[b-2f16o0671y]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-treasure-hunt[b-2f16o0671y]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-treasure-hunt[b-2f16o0671y]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }

@media (min-width: 768px)
{
    .two-image-spread[b-2f16o0671y]
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .four-image-spread[b-2f16o0671y]
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}

.two-image-spread img[b-2f16o0671y], .four-image-spread img[b-2f16o0671y]
{
    max-height: 300px;
}
/* /Pages/Fungrounds/TreasureHunt.razor.rz.scp.css */
#rw-treasure-hunt[b-6bgzhot4bm]
{
}

    #rw-treasure-hunt[b-6bgzhot4bm]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-treasure-hunt[b-6bgzhot4bm]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-treasure-hunt[b-6bgzhot4bm]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }

@media (min-width: 768px)
{
    .two-image-spread[b-6bgzhot4bm]
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .four-image-spread[b-6bgzhot4bm]
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1rem;
    }
}

.two-image-spread img[b-6bgzhot4bm], .four-image-spread img[b-6bgzhot4bm]
{
    max-height: 300px;
}
/* /Pages/Fungrounds/WeaponVariant.razor.rz.scp.css */
#rw-weapon-variant[b-ihtxgxanm7]
{
}

    #rw-weapon-variant[b-ihtxgxanm7]  .tab:hover
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-weapon-variant[b-ihtxgxanm7]  .tab-active
    {
        background-color: var(--rw-plays-blue-dark);
    }

    #rw-weapon-variant[b-ihtxgxanm7]  .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }
/* /Pages/Index.razor.rz.scp.css */
#home-brand[b-3ct0u469ps]
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

    #home-brand img[b-3ct0u469ps]
    {
        min-width: 50px;
        max-height: 100px;
        margin-right: auto;
        margin-left: auto;
    }
/* /Pages/Information/Accreditation.razor.rz.scp.css */
#rw-accreditation[b-8du193cozt]
{
}
/* /Pages/Makes/Makes.razor.rz.scp.css */
#rw-makes[b-u5rejblszk]
{

}
/* /Pages/Plays/Plays.razor.rz.scp.css */
#rw-plays[b-debrcc8duf]
{

}
/* /Pages/Talks/Talks.razor.rz.scp.css */
#rw-talks[b-7qrl2d39m3]
{

}
