@page "/does"
<PageTitle>Does</PageTitle>

<div style="padding-top:10px">

    <h1>Hello World!</h1>

    <p>This is the Random Workings Does page.</p>

    <p>My colours in case your interested</p>
    <p>true-black: <span style="color:#fff">#fff;</span></p>
    <p>true-white: <span style="color:#000">#000;</span></p>
    <p>background-grey: <span style="color:#B2B2B2"> #B2B2B2</span></p>
    <p>rw-talks-main:<span style="color:#FED7BD"> #FED7BD</span></p>
    <p>rw-talks-alt: <span style="color:#323232">#323232</span></p>
    <p>rw-plays-main: <span style="color:#D3EFEF">#D3EFEF</span></p>
    <p>rw-plays-alt:<span style="color:#FDADA4"> #FDADA4</span></p>
    <p>rw-makes-main: <span style="color:#CBE1CA">#CBE1CA</span></p>
    <p>rw-makes-alt: <span style="color:#FEFEB4">#FEFEB4</span></p>
    <p>rw-does-main:<span style="color:#FEE0E8"> #FEE0E8</span></p>
    <p>rw-does-alt:<span style="color:#CBA9CA"> #CBA9CA</span></p>
    <p>rw-eye-right-normal:<span style="color:#3A42FE"> #3A42FE</span></p>
    <p>rw-eye-left-normal: <span style="color:#C6120C">#C6120C</span></p>
    <p>rw-eye-right-zombie: <span style="color:#683597">#683597</span></p>
    <p>rw-eye-left-zombie:<span style="color:#C6380D" > #C6380D</span></p>

</div>