@inherits Component

<div id="button-@Id" @attributes=@BaseAttributes>
    <a id="button-link-@Id" hred=@Href target=@Target @attributes=@LinkAttributes>
        <div id="button-text-@Id" class="col button-text">@Text</div>
    </a>
</div>