@inherits Component

<div id="button-@Id" @attributes=@BaseAttributes>
    <a id="button-link-@Id" hred=@Href target=@Target @attributes=@LinkAttributes>
        <div class="row justify-content-center">
            <div id="button-text-@Id" class="col button-text">@Text</div>
        </div>
    </a>
</div>