<div class="page-header">
    @if ( !string.IsNullOrWhiteSpace( ImageSource ) )
    {
        <img class="icon" src=@ImageSource alt="" loading="lazy" />
    }

    <h1>@Text</h1

    @if ( !string.IsNullOrWhiteSpace( ImageSource ) )
    {
        <img class="icon" src=@ImageSource alt="" loading="lazy" />
    }
</div>

<hr />