<div id="button-deck" class="mb-3" role="group">
  
@foreach (TabPage tabPage in Pages)
  {
    <button type="button"
      class="btn @GetButtonClass(tabPage)"
      @onclick=@( () => ActivatePage(tabPage) )>
      @tabPage.TabLabel
    </button>
  }

</div>

<CascadingValue Value="this">
    @ChildContent
</CascadingValue>