@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/demolitionderby"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-demolition-derby" class="rw-fungrounds">

    <PageHeader Text="Demolition Derby" ImageSource="images/fungrounds/p32-demolition-derby.svg" />

    <TabControl>
        <TabPage TabLabel="What is Demolition Derby?">
            <p>
                Demolition Derby is a mode all about smashing cars together whilst flinging non-C4 throwables everywhere.
            </p>

            <div class="learnings">
                <p><b>"Secret Training"</b></p>
                <p>Car Handling.</p>
                <p>Using and Timing Throwables.</p>
            </div>
        </TabPage>

        <TabPage TabLabel="Match Procedure">

            <ul>
                <li>Bullet point.</li>
                <li class="nested-list">
                    <ul>
                        <li>sub Bullet point.</li>
                    </ul>
                </li>
            </ul>

            <div class="winCondition">

                <p><b>Win Conditions</b></p>
                <p>The winners are the owners of the last surviving car, or last team left standing.</p>
            </div>
        </TabPage>

        <TabPage TabLabel="Rules of Engagement">

            <ul>
                <li>Bullet point.</li>
                <li class="nested-list">
                    <ul>
                        <li>sub Bullet point.</li>
                    </ul>
                </li>
            </ul>
        </TabPage>

        <TabPage TabLabel="Match Settings">

            <p><b>Note:</b> Only edited settings are documented. If a setting is not mentioned in this section take it's value to be it's default value.</p>

            <h6>Basic</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Map</p>
                </div>
                <div class="settings-row">
                    <p>Erangel</p>
                </div>
                <div class="settings-row">
                    <p>Perspective</p>
                </div>
                <div class="settings-row">
                    <p>Third Person Perspective (TPP)</p>
                </div>
                <div class="settings-row">
                    <p>Battle Scale</p>
                </div>
                <div class="settings-row">
                    <p>Platoon</p>
                </div>
                <div class="settings-row">
                    <p>Max Players</p>
                </div>
                <div class="settings-row">
                    <p>100</p>
                </div>
                <div class="settings-row">
                    <p>Team Players</p>
                </div>
                <div class="settings-row">
                    <p>10</p>
                </div>
            </div>


            <h6>Rules</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Down But Not Out (DBNO) Revive</p>
                </div>
                <div class="settings-row">
                    <p>On</p>
                </div>
                <div class="settings-row">
                    <p>DBNO Time [seconds]</p>
                </div>
                <div class="settings-row">
                    <p>1</p>
                </div>
                <div class="settings-row">
                    <p>DBNO Damage</p>
                </div>
                <div class="settings-row">
                    <p>0.1</p>
                </div>
                <div class="settings-row">
                    <p>Friendly Fire Damage</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Red Zone</p>
                </div>
                <div class="settings-row">
                    <p>Off</p>
                </div>
                <div class="settings-row">
                    <p>Use Recall</p>
                </div>
                <div class="settings-row">
                    <p>Off</p>
                </div>
                <div class="settings-row">
                    <p>Care Package Frequency</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Flare Gun Care Package</p>
                </div>
                <div class="settings-row">
                    <p>Off</p>
                </div>
            </div>

            <h6>Spawns</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Item Spawn Type</p>
                </div>
                <div class="settings-row">
                    <p>Adjustable Ratio and Adjustable Total Number</p>
                </div>
                <div class="settings-row">
                    <p>Spawn Rate Multiplier</p>
                </div>
                <div class="settings-row">
                    <p>2</p>
                </div>
                <div class="settings-row">
                    <p>Backpack</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>Backpack (Lv. 3)</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>[All Other Backpacks]</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Helmet</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>Helmet (Lv.3)</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>[All Other Helmets]</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Armoured Vest</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>Military Vest (Lv.3)</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>[All Other Armoured Vests]</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
            </div>

            <h6>Blue Zone</h6>
            <p>
                Blue Zone initial setup calculated using <a href="https://lunchmeat.zone/" target="_self" class="link"> https://lunchmeat.zone/ </a>
            </p>

            <img id="erangel-bluezones-image" src="images/fungrounds/erangel-bluezones-settings.jpg" alt="" loading="lazy" />
        </TabPage>

    </TabControl>   

</div>