#rw-dog-fight
{
}

    #rw-dog-fight h1
    {
        margin: 0 0 2rem 0;
    }

    #rw-dog-fight p
    {
        margin: 1rem 0 0 0;
        padding: 0;
    }

    #rw-dog-fight ul li
    {
        padding-left: 0;
    }

    #rw-dog-fight ul li
    {
        margin: 1rem 0 1rem 0;
    }

#winCondition
{
    outline: 2px solid green;
    width: fit-content;
    padding: 1rem;
    margin: 0 auto 0 auto;
    text-align: center;
}

#winCondition p:first-child
{
    margin: 0;
}

#matchSettings
{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
}
    #matchSettings #settings-row:first-child, #matchSettings #settings-row:nth-child(2)
    {
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    #matchSettings #settings-row:nth-child(2n+1)
    {
        padding-left: 1rem;
        border-left: 1px solid #000;
    }

    #matchSettings #settings-row:nth-child(2n)
    {
        padding-left: 1rem;
        padding-right: 1rem;
        border-right: 1px solid #000;
    }

    #matchSettings #settings-row
    {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #000;
    }

    #matchSettings p
    {
        margin: 0;
    }

#rw-dog-fight img
{
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}