@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/dogfight"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-dog-fight">
    
    <h1>Dog Fight</h1>

    <hr/>
    <h5>What is Dog Fight Mode?</h5>

    <p>
        Dog Fight is a Glider combat mode.
    </p>
    <p>
        Armed with only Light Machine Guns your teams will meet on the beaches of Severny before taking to skies using the gliders to find out who has the skills to claim sky supremacy.
    </p>

    <hr />
    <h5>Match Procedure</h5>

    <ul>
        <li>Join one of the two platoons.</li>
        <ul>
            <li>Try to make numbers even.</li>
        </ul>
        <li>Jump from the plane and make your way to Severny on the centre north edge of Erangel</li>
        <li>On the way, pick up some LMGs (and attachments), Fuel cans, meds, and, most importantly, as many gliders as you can.</li>
        <ul>
            <li><b>Do Not</b> pick up any C4, these are for the game runner to use as a starting signal.</li>
        </ul>
        <li>Land / Arrive at Severny and meet at the church for some pre-combat dancing.</li>
        <li>Once everyone has arrived, and we have double check we have all the gliders, we will divide the gliders into two and place them on the beach, half facing west the other half facing east.</li>
        <ul>
            <li>A Glider refuel will take place at this point.</li>
        </ul>
        <li>Pilots and gunners will then get into the gliders</li>
        <li>On the explosion of a piece of C4 the two teams take to the skies, fly five small map squares in their respective direction then turn around a fight.</li>
        <ul>
            <li>You can fly off and fight over any part of the Erangel map.</li>
            <li>At any point in time you can go to land at your teams landing strip.</li>
            <li><b>Do Not</b> shoot at gliders landing or taking off on the “two” landing strips.</li>
        </ul>
    </ul>


    <div id="winCondition">

        <p><b>Win Conditions</b></p>
        <p>The winning team is the one that has control of the last operating glider.</p>

    </div>

    <hr />
    <h5>Rules of Engagement</h5>

    <ul>
        <li><b>Do Not</b> shoot at people on the ground.</li>
        <li><b>Do Not</b> shoot at people who have jumped out and are parachuting.</li>
        <li><b>Do Not</b> shoot at gliders landing or taking off on the “two” landing strips.</li>
        <li><b>Do Not</b> attempt to steal gliders off the other team.</li>
        <li>Those not in a glider are part of the teams ground crew.</li>
        <ul>
            <li>While combat is taking place, they will be allowed to collect more fuel and ammo, and healing items.</li>
        </ul>
        <li>Glider Crew are <b>Not</b> allowed to heal.</li>
        <li>Ground Crew are allowed to heal.</li>
        <li>Once a glider lands refuelling, ammo restocking, vehicle repair and Glider Crew can be swapped (Pilots and Gunners).</li>
    </ul>

    <hr />
    <h5>Match Settings</h5>

    <div id="matchSettings">
        <div id="settings-row">
            <p>Drop Rate:</p>
        </div>
        <div id="settings-row">
            <p>x2</p>
        </div>
        <div id="settings-row">
            <p>Weapons:</p>
        </div>
        <div id="settings-row">
            <p>DP-28, M249</p>
        </div>
        <div id="settings-row">
            <p>Ammo Types:</p>
        </div>
        <div id="settings-row">
            <p>55.6mm, 7.62mm</p>
        </div>
        <div id="settings-row">
            <p>Attachments:</p>
        </div>
        <div id="settings-row">
            <p>Scopes, Sights,</p>
        </div>
        <div id="settings-row">
            <p>Meds:</p>
        </div>
        <div id="settings-row">
            <p>All On</p>
        </div>
        <div id="settings-row">
            <p>Armor, Helmet, & Backpack:</p>
        </div>
        <div id="settings-row">
            <p>Level 3 only</p>
        </div>
    </div>

    <p>Blue Zones:</p>
    <img id="dog-fight-bluezones-image" src="images/fungrounds/dog-fight-bluezones-settings.png"  alt="" loading="lazy" />

</div>