@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/dogfight"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-dog-fight" class="rw-fungrounds">

    <h1>Dog Fight</h1>

    <hr/>
    <h5>What is Dog Fight Mode?</h5>

    <p>
        Dog Fight is a Glider combat mode.
    </p>
    <p>
        Armed with only Light Machine Guns your teams will meet on the beaches of Severny before taking to skies to find out who has the skills to claim sky supremacy.
    </p>

    <hr />
    <h5>Match Procedure</h5>

    <ul>
        <li>Join the match lobby.</li>
        <li class="nested-list">
            <ul>
                <li>The password will be provided via stream chat and discord.</li>
                <li><b>Do Not</b> move once in the lobby. The game runner will be moving people into teams based on a randomised pattern so each match will result in different team members.</li>
            </ul>
        </li>
        <li>
            <div>Jump from the plane and make your way to Severny on the centre north edge of Erangel</div>
            <div class="graphic-with-caption">
                <p>Figure 1 (Below): Location of Severney.</p>
                <img id="dog-fight-Severny" src="images/fungrounds/dog-fight-Severny.jpg" alt="Map showing Severny location on Erangel" loading="lazy" />
            </div>            
        </li>       
        <li>
            <div>On the way, pick up equipment such as LMGs, attachments, fuel cans, healing items, and, most importantly, as many gliders as you can.</div>
            <div class="graphic-with-caption">
                <p>Figure 2 (Below): Potential Glider Spawn Points.</p>
                <img id="dog-fight-glider-spots" src="images/fungrounds/dog-fight-glider-spots.jpg" alt="Map showing potential glider spawn locations on Erangel" loading="lazy" />
            </div>
        </li>
        <li class ="nested-list">
            <ul>
                <li><b>Please</b> refrain from pick up any C4, these are for the game runner to use as a starting signal.</li>
            </ul>
        </li>
        <li>Land / Arrive at Severny and meet at the local church for some pre-combat dancing.</li>
        <li>Once everyone has arrived, and we have double check we have all the gliders, we will divide the gliders into two and place them on the beach, half facing west the other half facing east.</li>
        <li class ="nested-list">
            <ul>
                <li>A Glider refuel will take place at this point.</li>
            </ul>
        </li>
        <li>Pilots and gunners will then get into the gliders</li>
        <li>On the explosion of a piece of C4 the two teams take to the skies, fly five small map squares in their respective direction then turn around and fight.</li>
        <li class="nested-list">
            <ul>
                <li>You can fly off and fight over any part of the Erangel map.</li>
                <li>
                    <div>At any point in time you can go to land at your teams landing strip.</div>
                    <div class="graphic-with-caption">
                        <p>Figure 3 (Below): Platoon Landing Strips.</p>
                        <img id="dog-fight-landing-strips" src="images/fungrounds/dog-fight-landing-strips.png" alt="Zoomed in map of Severney with two roads coloured in and labeled A and B" loading="lazy" />
                    </div>
                </li>
                <li><b>Do Not</b> shoot at gliders landing or taking off on the “two” landing strips.</li>
                <li class ="nested-list">
                    <ul>
                        <li>Shooting gliders landing at other locations is allowed.</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>

    <div class="winCondition">

        <p><b>Win Conditions</b></p>
        <p>The winning team is the one that has control of the last operating glider.</p>

    </div>

    <hr />
    <h5>Rules of Engagement</h5>

    <ul>
        <li><b>Do Not</b> shoot at people on the ground.</li>
        <li><b>Do Not</b> shoot at people who have jumped out and are parachuting.</li>
        <li><b>Do Not</b> shoot at gliders landing or taking off on the “two” landing strips.</li>
        <li><b>Do Not</b> attempt to steal gliders off the other team.</li>
        <li>Those not in a glider are part of the teams ground crew.</li>
        <li class="nested-list">
            <ul>
                <li>While combat is taking place, they will be allowed to collect more fuel and ammo, and healing items.</li>
            </ul>
        </li>
        <li>Glider Crew are <b>Not</b> allowed to heal.</li>
        <li>Ground Crew are allowed to heal.</li>
        <li>Once a glider lands on their team landing strip refuelling, ammo restocking, vehicle repair and Glider Crew can be swapped (Pilots and Gunners).</li>
    </ul>

    <hr />
    <h5>Match Settings</h5>

    <p><b>Note:</b> Only edited settings are documented. If a setting is not mentioned in this section take it's value to be it's default value.</p>

    <h6>Basic</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Map</p>
        </div>
        <div class="settings-row">
            <p>Erangel</p>
        </div>
        <div class="settings-row">
            <p>Perspective</p>
        </div>
        <div class="settings-row">
            <p>Third Person Perspective (TPP)</p>
        </div>
        <div class="settings-row">
            <p>Battle Scale</p>
        </div>
        <div class="settings-row">
            <p>Platoon</p>
        </div>
        <div class="settings-row">
            <p>Max Players</p>
        </div>
        <div class="settings-row">
            <p>100</p>
        </div>
        <div class="settings-row">
            <p>Team Players</p>
        </div>
        <div class="settings-row">
            <p>10</p>
        </div>
    </div>


    <h6>Rules</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Down But Not Out (DBNO) Revive</p>
        </div>
        <div class="settings-row">
            <p>On</p>
        </div>
        <div class="settings-row">
            <p>DBNO Time [seconds]</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>DBNO Damage </p>
        </div>
        <div class="settings-row">
            <p>0.1</p>
        </div>
        <div class="settings-row">
            <p>Friendly Fire Damage</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Use Redzone</p>
        </div>
        <div class="settings-row">
            <p>Off</p>
        </div>
        <div class="settings-row">
            <p>Use Recall</p>
        </div>
        <div class="settings-row">
            <p>On</p>
        </div>
        <div class="settings-row">
            <p>Equipment Kit, Type</p>
        </div>
        <div class="settings-row">
            <p>x2</p>
        </div>
        <div class="settings-row">
            <p>Equipment Kit, Honour/Courage</p>
        </div>
        <div class="settings-row">
            <p>Utility</p>
        </div>
        <div class="settings-row">
            <p>Care Package Frequency</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Flare Gun Care Package</p>
        </div>
        <div class="settings-row">
            <p>Off</p>
        </div>
    </div>

    <h6>Spawns</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Item Spawn Type</p>
        </div>
        <div class="settings-row">
            <p>Adjustable Ratio and Adjustable Total Number</p>
        </div>
        <div class="settings-row">
            <p>Spawn Rate Multiplier</p>
        </div>
        <div class="settings-row">
            <p>2</p>
        </div>
        <div class="settings-row">
            <p>Ammunitions</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>5.56mm</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>7.62mm</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Ammunitions]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Weapons</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>LMGs</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>M249</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>DP-28</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Launcher</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>M79</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>[All Other Weapons]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Sight Attachments</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Red Dot Sight</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Holographic Sight</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>2x Scope</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>3x Scope</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>4x Scope</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>6x Scope</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Sight Attachments]</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Magazine Attachments</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>AR Magazine</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Magazine Attachments]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Muzzle Attachments</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Foregrip Attachments</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Stock Attachments</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Heavy Stock</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Stock Attachments]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Heal Items</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Heal Items]</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Boost Items</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Boost Items]</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Gas Can</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Mountain Bike</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>[All Other Consumables]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Backpack</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Backpack (Lv. 3)</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Backpacks]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Helmet</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Helmet (Lv.3)</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Helmets]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Armoured Vest</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Military Vest (Lv.3)</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Armoured Vests]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
    </div>

    <h6>Blue Zone</h6>
    <p>
        Blue Zone intial setup calculated using <a href="https://lunchmeat.zone/" target="_blank" class="link"> https://lunchmeat.zone/ </a>
    </p>
    <img id="erangel-bluezones-image" src="images/fungrounds/erangel-bluezones-settings.png" alt="Table showing blue zone values for the different phases of the Dog Fight mode on Erangel" loading="lazy" />

</div>