#rw-fungrounds
{
}

    #rw-fungrounds ::deep .button
    {
        width: auto;
    }

    #rw-fungrounds ::deep .button:nth-child(2n+1)
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-fungrounds ::deep .button:nth-child(2n)
    {
        background-color: var(--rw-plays-red);
    }

    #rw-fungrounds ::deep .tab-active
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-fungrounds ::deep .tab-inactive
    {
        background-color: var(--rw-plays-red);
    }