#rw-fungrounds
{
}

#rw-fungrounds p
{
    margin: 1rem 0 0 0;
    padding: 0;
}

    #rw-fungrounds ::deep .button
    {
        width: auto;
    }

    #rw-fungrounds ::deep .button:nth-child(2n+1)
    {
        background-color: var(--rw-plays-blue);
    }

    #rw-fungrounds ::deep .button:nth-child(2n)
    {
        background-color: var(--rw-plays-red);
    }


#button-deck
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem;
}

@media (min-width: 768px)
{
    #button-deck
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0rem;
    }
}