@page "/fungrounds"
<PageTitle>Fungrounds</PageTitle>

<div style="padding-top:10px">

    <h1>Welcome to the P32 Fungrounds Rules Page!</h1>

    <a href="/fungrounds/treasurehunt" target="_self" title="Link to Treasurehunt" lang="en-gb">
        <img class="pe-2 img-fluid" src="images/icons/social-media/brand-github.svg" alt="GitHub icon" loading="lazy" />
        <span>Treasurehunt</span>
    </a>

</div>