@using RandomWorkings.github.io.Components.Shared
@page "/fungrounds"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-fungrounds">

    <h1>Welcome to the P32 Fungrounds Rules Page!</h1>

    <hr/>

    <h3>What are the P32 Fungrounds?</h3>

    <p>
        The P32 Fungrounds are a series of game modes, mostly noncombative, whose purpose is to create PUBG games that change up the formula of a normal PUBG match by throwing out all the rules and making replacing them with our own.
    </p>
    <p>
        The main goals of these modes are to allow people to compete while still having stupid fun with team mates not necessarily being your team members.
     </p>
    <p>
        Communication is key so make sure at least one of your team members can hear the stream for, delayed, instructions and any last minute change notifications, and write in the chat for two way communication.
    </p>


    <hr/>

    <div>
        <h3>Community Created Modes</h3>
        <div id="button-deck">

            <ImageButton         
                Id= "teasure-hunt"
                Text = "Treasure Hunt"
                Src="images/fungrounds/p32-treasure.svg"
                Width  = "25px"
                Height  = "25px"
                AlternativeText = "A pirates treasure chest."
                Href = "/fungrounds/treasurehunt"
                TitleAttribute = "Link to the P32 Fungrounds treasure hunt rules page."
            ></ImageButton>

            <ImageButton
                Id = "race"
                Text = "Race"
                Src="images/fungrounds/p32-race.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "A waving checkered race flag."
                Href = "/fungrounds/race"
                TitleAttribute = "Link to the P32 Fungrounds race rules page."
            ></ImageButton>

            <ImageButton     
                Id = "hide-and-seek"
                Text = "Hide and Seek"
                         Src="images/fungrounds/p32-hide-and-seek.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "Two people playing hide and seek."
                Href = "/fungrounds/hideandseek"
                TitleAttribute = "Link to the P32 Fungrounds hide and seek rules page."
            ></ImageButton>

            <ImageButton
                Id="dog-fight"
                Text="Dog Fight"
                Src="images/fungrounds/p32-ww2-plane.svg"
                Width="25px"
                Height="25px"
                AlternativeText=""
                Href="/fungrounds/dogfight"
                TitleAttribute="Link to the P32 Fungrounds Dog Fight rules page."
            ></ImageButton>

            <ImageButton      
                Id = "riddles"
                Text = "Riddles"
                Src="images/fungrounds/p32-riddles.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "Two speech bubbles. One contains a question mark. The other the three dots of an ellipsis."
                Href = "/fungrounds/riddles"
                TitleAttribute = "Link to the P32 Fungrounds Riddles rules page."
            ></ImageButton>

            <ImageButton        
                Id = "shark-hunt"
                Text = "Shark Hunt"
                 Src="images/fungrounds/p32-shark.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "A Shark."
                Href = "/fungrounds/sharkhunt"
                TitleAttribute = "Link to the P32 Shark Hunt rules page."
            ></ImageButton>

            <ImageButton  
                Id = "parade"
                Text = "Parade"
                Src="images/fungrounds/p32-parade.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "A marching band drummer."
                Href = "/fungrounds/parade"
                TitleAttribute = "Link to the P32 Fungrounds Parade rules page."
            ></ImageButton>

        </div>
        <hr/>

        <h3>Alternative Modes</h3>

        <div id="button-deck">

            <ImageButton 
                Id = "weapon-variant"
                Text = "Weapon Variant"
                Src="images/fungrounds/p32-crossbow.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "An AKM looking rifle."
                Href = "/fungrounds/weaponvariants"
                TitleAttribute="Link to the variant weapon mode information page."
            ></ImageButton>

            <ImageButton   
                Id = "mode-variant"
                Text = "Game Mode Variant"
                Src="images/fungrounds/p32-zombie.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "Three zombie hands raising out of disturbed earth."
                Href="/fungrounds/modevariants"
                TitleAttribute = "Link to the P32 Fungrounds variant game mode information page."
            ></ImageButton>

        </div>
    </div>

</div>