@using RandomWorkings.github.io.Components.Shared
@page "/fungrounds"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-fungrounds">

    <h1>Welcome to the Fungrounds!</h1>

    <hr/>

    <h5>What are the Fungrounds?</h5>

    <div class="paragraph">
        <p>
            The Fungrounds are a series of game modes, mostly noncombative, whose purpose is to create PUBG games that change up the formula of a normal PUBG match by throwing out all the rules and replacing them with our own.
        </p>
    </div>
    <div class="paragraph">
        <p>
            The main goal of most of these modes is to allow a large group of people to take part in competitive matches and to have some “stupid fun” with friends without having to worry too much about player survival.
        </p>
        <p>
            Even the modes that do have a survival element should be different enough from a normal PUBG match in setup that everyone can still have a laugh while taking part.
        </p>
    </div>
    <div class="paragraph">
        <p>
            Another key aspect to the Fungrounds is that your teammates are not necessarily your team members. 
        </p>
        <p>
            Some modes will have you working together with all your team members, but others will see those allies become just as much part of your competition.
        </p>
    </div>
    <div class="paragraph">
        <p>
            Communication is key for these sorts of games to go as smoothly as possible so make sure at least one of your team members can hear the stream so that you can receive, delayed, instructions and any last minute rule/setup changes.
        </p>
        <p>
            Having the stream chat open is also useful for sending the game runner messages from your team.
        </p>
    </div>

    <hr/>

    <div>
        <h5>Community Created Modes</h5>
        <div id="button-deck">

            <ImageButton         
                Id= "teasure-hunt"
                Text = "Treasure Hunt"
                Src="images/fungrounds/p32-treasure.svg"
                Width  = "25px"
                Height  = "25px"
                AlternativeText = "A pirates treasure chest."
                Href = "/fungrounds/treasurehunt"
                TitleAttribute = "Link to the P32 Fungrounds treasure hunt rules page."
            ></ImageButton>

            <ImageButton
                Id = "race"
                Text = "Race"
                Src="images/fungrounds/p32-race.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "A waving checkered race flag."
                Href = "/fungrounds/race"
                TitleAttribute = "Link to the P32 Fungrounds race rules page."
            ></ImageButton>

            <ImageButton     
                Id = "hide-and-seek"
                Text = "Hide and Seek"
                         Src="images/fungrounds/p32-hide-and-seek.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "Two people playing hide and seek."
                Href = "/fungrounds/hideandseek"
                TitleAttribute = "Link to the P32 Fungrounds hide and seek rules page."
            ></ImageButton>

            <ImageButton
                Id="dog-fight"
                Text="Dog Fight"
                Src="images/fungrounds/p32-ww2-plane.svg"
                Width="25px"
                Height="25px"
                AlternativeText=""
                Href="/fungrounds/dogfight"
                TitleAttribute="Link to the P32 Fungrounds Dog Fight rules page."
            ></ImageButton>

            <ImageButton      
                Id = "riddles"
                Text = "Riddles"
                Src="images/fungrounds/p32-riddles.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "Two speech bubbles. One contains a question mark. The other the three dots of an ellipsis."
                Href = "/fungrounds/riddles"
                TitleAttribute = "Link to the P32 Fungrounds Riddles rules page."
            ></ImageButton>

            <ImageButton        
                Id = "shark-hunt"
                Text = "Shark Hunt"
                 Src="images/fungrounds/p32-shark.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "A Shark."
                Href = "/fungrounds/sharkhunt"
                TitleAttribute = "Link to the P32 Shark Hunt rules page."
            ></ImageButton>

            <ImageButton  
                Id = "parade"
                Text = "Parade"
                Src="images/fungrounds/p32-parade.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "A marching band drummer."
                Href = "/fungrounds/parade"
                TitleAttribute = "Link to the P32 Fungrounds Parade rules page."
            ></ImageButton>

        </div>
        <hr/>

        <h5>Alternative Modes</h5>

        <div id="button-deck">

            <ImageButton 
                Id = "weapon-variant"
                Text = "Weapon Variant"
                Src="images/fungrounds/p32-crossbow.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "An AKM looking rifle."
                Href = "/fungrounds/weaponvariants"
                TitleAttribute="Link to the variant weapon mode information page."
            ></ImageButton>

            <ImageButton   
                Id = "mode-variant"
                Text = "Game Mode Variant"
                Src="images/fungrounds/p32-zombie.svg"
                Width = "25px"
                Height = "25px"
                AlternativeText = "Three zombie hands raising out of disturbed earth."
                Href="/fungrounds/modevariants"
                TitleAttribute = "Link to the P32 Fungrounds variant game mode information page."
            ></ImageButton>

        </div>
    </div>

</div>