@page "/fungrounds"
<PageTitle>P32 Fungrounds</PageTitle>

<h1>Welcome to the P32 Fungrounds Rules Page!</h1>

<hr rounded />
<h3>Community Created Modes</h3>

<div>
    <Button ButtonModel=TreasureHunt></Button>

    <Button ButtonModel=Race></Button>

    <Button ButtonModel=HideAndSeek></Button>
</div>
<div>
    <Button ButtonModel=Parade></Button>

    <Button ButtonModel=Riddles></Button>

    <Button ButtonModel=SharkHunt></Button>
</div>

<hr rounded />
<h3>Alternative Modes</h3>

<div>
    <Button ButtonModel=WeaponVariants></Button>

    <Button ButtonModel=Zombies></Button>

    <Button ButtonModel=Crossbows></Button>
</div>