@page "/fungrounds"
<PageTitle>Fungrounds</PageTitle>

<h1>Welcome to the P32 Fungrounds Rules Page!</h1>

<Button ButtonModel=TreasureHunt></Button>

<Button ButtonModel=Race></Button>

<Button ButtonModel=HideAndSeek></Button>

<Button ButtonModel=Parade></Button>

<Button ButtonModel=Zombies></Button>

<Button ButtonModel=Riddles></Button>