@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/modevariant"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-mode-variant">

    <h1>Zombies, War and War Conquest</h1>

    <hr rounded />

</div>