@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/mode-variants"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-mode-variants">

    <h1>Zombies, War and War Conquest</h1>

</div>