@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/parade"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-parade" class="rw-fungrounds">

    <PageHeader Text="Parade" ImageSource="images/fungrounds/p32-parade.svg" />

    <hr />
    <h5>What is Parade?</h5>

    <p>
        Parade is a mode where "Everyone Wins" and should be used to end the night's activities. </p>   
    <p>
        This mode simulates a Float Parade with a follow up Dance party and Firework display.
    </p>
    <p>
        <b>Note:</b> Some volunteers will be needed to act as "Parade Leaders" and "Display Team" to properly get the most out of this mode.
    </p>

    <div class="learnings">
        <p><b>"Secret Training"</b></p>
        <p>Relaxation.</p>
        <p>Explosions.</p>       
    </div>

    <hr />

    <TabControl>

        <TabPage TabLabel="Match Procedure">
            <h5>Match Procedure</h5>
            <ul>
                <li>Join the match lobby.</li>
                <li class="nested-list">
                    <ul>
                        <li>The password will be provided via stream chat and discord.</li>
                        <li><b>Display Team</b> please join the last team so you may better co-ordinate the SFX that will occur alongside the parade during this mode</li>
                    </ul>
                </li>
                <li>
                    <div>Jump from the plane and make your way to Sosnovka Military Base runway on the South of Erangel.</div>
                    <div class="graphic-with-caption">
                        <p>Figure 1 (Below): Location of Sosnovka Military Base.</p>
                        <img id="parade-Military-Base" src="images/fungrounds/parade-Military-Base.jpg" alt="Map showing Sosnovka Military Base's location on Erangel" loading="lazy" />
                    </div>
                </li>
                <li>On the way pick up a vehicle and a few travel companions.</li>
                <li class="nested-list">
                    <ul>
                        <li><b>Please</b> feel free to pick up and bring along any throwables and gas cans you find to help gather components for the final fireworks display.</li>
                        <li><b>Please</b> refrain from using these items, except to refuel your vehicle, when around pre-planned display areas. (Pochinki and Polyana)</li>
                    </ul>
                </li>
                <li>
                    <div>Arrive at Sosnovka Military Base runway and take part in some warm-up dancing.</div>
                    <div class="graphic-with-caption">
                        <p>Figure 2 (Below): The Military Base Runway</p>
                        <img id="parade-star" src="images/fungrounds/parade-start.jpg" alt="Image of the Sosnovka Military Base runway" loading="lazy" />
                    </div>
                </li>
                <li>Once all Parade Members have arrived, the Parade Leaders will alert the Display Team and begin the parade.</li>
                <li>
                    <div>The Parade will travel North to the South side of Polyana's lake by way of Pochinki.</div>
                    <div class="graphic-with-caption">
                        <p>Figure 3 (Below): The Parade Route.</p>
                        <div class="two-image-spread">
                            <img id="parade-path" src="images/fungrounds/parade-path.jpg" alt="Map showing parade route through Erangel" loading="lazy" />
                            <img id="parade-Pochinki-path" src="images/fungrounds/parade-Pochinki-path.jpg" alt="Map showing parade route through Pochinki" loading="lazy" />
                        </div>
                    </div>
                </li>
                <li>When the parade passes through Pochinki, in single file, a mini display of smoke and explosions will occur.</li>
                <li class="nested-list">
                    <ul>
                        <li><b>This will be setup and controlled by the Display Team.</b></li>
                    </ul>
                </li>
                <li>Once the parade arrives at Polyana's lake, everyone will park their vehicles and start a dance party.</li>
                <li class="nested-list">
                    <ul>
                        <li>
                            <div>Parade participants who have brought materials for the display should pop over to the West side of the lake and drop off their supplies in the Explosions Shed.</div>
                            <div class="graphic-with-caption">
                                <p>Figure 4 (Below): The Location of the Explosions Shed.</p>
                                <img id="parade-explosions-shed" src="images/fungrounds/parade-explosions-shed.jpg" alt="Map showing designated start location within Ripton" loading="lazy" />
                            </div>
                        </li>
                    </ul>
                </li>
                <li>While the dance party takes place a "fireworks" display shall be setup, and set off, on the other side of the lake for parade participants to enjoy.</li>
            </ul>

            <div class="winCondition">

                <p><b>Win Conditions</b></p>
                <p>The winner is everyone who took part and enjoyed themselves.</p>

            </div>
        </TabPage>

        <TabPage TabLabel="Rules of Engagement">
            <h5>Rules of Engagement</h5>
            <ul>
                <li><b>Take Care</b> if you choose to use the throwables during the parade route.</li>
                <li>If you cause an accident, <b>help fix it</b>. It's just good behaviour.</li>
            </ul>
        </TabPage>

        <TabPage TabLabel="Match Settings">
            <h5>Match Settings</h5>
            <p><b>Note:</b> Only edited settings are documented. If a setting is not mentioned in this section take it's value to be it's default value.</p>

            <h6>Basic</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Map</p>
                </div>
                <div class="settings-row">
                    <p>Erangel</p>
                </div>
                <div class="settings-row">
                    <p>Perspective</p>
                </div>
                <div class="settings-row">
                    <p>Third Person Perspective (TPP)</p>
                </div>
                <div class="settings-row">
                    <p>Battle Scale</p>
                </div>
                <div class="settings-row">
                    <p>Platoon</p>
                </div>
                <div class="settings-row">
                    <p>Max Players</p>
                </div>
                <div class="settings-row">
                    <p>100</p>
                </div>
                <div class="settings-row">
                    <p>Team Players</p>
                </div>
                <div class="settings-row">
                    <p>10</p>
                </div>
            </div>

            <h6>Rules</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Down But Not Out (DBNO) Revive</p>
                </div>
                <div class="settings-row">
                    <p>On</p>
                </div>
                <div class="settings-row">
                    <p>DBNO Time [seconds]</p>
                </div>
                <div class="settings-row">
                    <p>1</p>
                </div>
                <div class="settings-row">
                    <p>DBNO Damage</p>
                </div>
                <div class="settings-row">
                    <p>0.1</p>
                </div>
                <div class="settings-row">
                    <p>Friendly Fire Damage</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Red Zone</p>
                </div>
                <div class="settings-row">
                    <p>Off</p>
                </div>
                <div class="settings-row">
                    <p>Use Recall</p>
                </div>
                <div class="settings-row">
                    <p>On</p>
                </div>
                <div class="settings-row">
                    <p>Care Package Frequency</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Flare Gun Care Package</p>
                </div>
                <div class="settings-row">
                    <p>Off</p>
                </div>
            </div>

            <h6>Spawns</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Item Spawn Type</p>
                </div>
                <div class="settings-row">
                    <p>Adjustable Ratio and Adjustable Total Number</p>
                </div>
                <div class="settings-row">
                    <p>Spawn Rate Multiplier</p>
                </div>
                <div class="settings-row">
                    <p>2</p>
                </div>
                <div class="settings-row">
                    <p>Throwables</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>Spike Trap</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>[All Other Throwables]</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>[All Other Weapons]</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Gas Cans</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>Mountain Bike</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
                <div class="settings-row">
                    <p>[All Other Consumables]</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Backpack</p>
                </div>
                <div class="settings-row">
                    <p>1</p>
                </div>
                <div class="settings-row">
                    <p>Backpack (Lv. 3)</p>
                </div>
                <div class="settings-row">
                    <p>1</p>
                </div>
                <div class="settings-row">
                    <p>[All Other Backpacks]</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Helmet</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Armoured Vest</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
            </div>

            <h6>Blue Zone</h6>
            <p>
                Blue Zone initial setup calculated using <a href="https://lunchmeat.zone/" target="_blank" class="link"> https://lunchmeat.zone/ </a>
            </p>
            <img id="erangel-bluezones-image" src="images/fungrounds/erangel-bluezones-settings.jpg" alt="Table showing blue zone values for the different phases of the blue zone" loading="lazy" />
        </TabPage>

    </TabControl>
</div>