@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/race"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-race" class="rw-fungrounds">

    <h1>
        <img class="icon" src="images/fungrounds/p32-race.svg" alt="" loading="lazy" />
        Race
        <img class="icon" src="images/fungrounds/p32-race.svg" alt="" loading="lazy" />
    </h1>
    
    <hr />
    <h5>What is Race Mode?</h5>

    <div class="paragraph">
        <p>
            Like the name suggests race is a vehicle racing mode where your only allies are those in your vehicle! .
        </p>
        <p>
            Race around the sandy desert of Miramar following a track that mixes on-road and off-road for the ultimate driving challenge.
        </p>
    </div>

    <hr />
    <h5>Match Procedure</h5>


    <ul>
        <li>Join the match lobby.</li>
        <li class="nested-list">
            <ul>
                <li>The password will be provided via stream chat and discord.</li>
            </ul>
        </li>
        <li>
            <div>Jump from the plane and make your way to the south side of the Valle del Mar Bridge, on the southwest edge of Miramar</div>
            <div class="graphic-with-caption">
                <p>Figure 1 (Below): Location of Valle del Mar.</p>
                <img id="race-Val-del-Mar" src="images/fungrounds/race-Valle-del-Mar.jpg" alt="Map showing Valle del Mar location on Miramar" loading="lazy" />
            </div>
        </li>
        <li>
            <div>On the way pick up a <b>ground</b> vehicle and your teammates, as well as some fuel cans, healing items, and maybe a mountain bike each (in case your vehicle gets totalled).</div>
        </li>
        <li class="nested-list">
            <ul>
                <li>Your teammates don't have to be your team members. Mix a match as much as you want.</li>
                <li>If you see a glider on the way please tell the game runner so they can collect it for overwatch purposes. [As an alternative to god mode] </li>
                <li><b>Please</b> refrain from picking up any C4, these are for the game runner to use as a starting signal.</li>
            </ul>
        </li>
        <li>Arrive at the start location, park up, and meet at the zip line for some pre-combat dancing.</li>
        <li>Once everyone has arrived, we will line up the vehicles near the starting line as best we can to provide everyone a good racing start.</li>
        <li class="nested-list">
            <ul>
                <li>We may need to randomise a grid order depending on space and numbers.</li>
            </ul>
        </li>
        <li>
            <div>On the explosion of a piece of C4 the race begins.</div>
            <div class="graphic-with-caption">
                <p>Figure 2 (Below): The Race Route.</p>
                <a href="images/fungrounds/race-route.jpg" target="_self" class="link">
                    <img id="race-route" src="images/fungrounds/race-route.jpg" alt="Map showing a race route across the Miramar map" usemap="raceMap" loading="lazy" />
                </a>
            </div>
        </li>
        </ul>

    <div class="winCondition">

        <p><b>Win Conditions</b></p>
        <p>Be the first team to cross the south end of the Partona bridge.</p>

    </div>

    <hr />
    <h5>Rules of Engagement</h5>

    <ul>
        <li><b>Do Not</b> steal vehicles from other teams.</li>
        <li>Ramming and Shunting other vehicles is allowed.</li>
        <li>If you see people crash and get knocked, feel free to stop and pick them back up if you can.</li>
        <li class="nested-list">
            <ul>
                <li>If you cause the crash <b>stop and help</b>. It's just good sportsmanship.</li>
            </ul>
        </li>
        <li>Don't worry if you can't stick to the track, or get forced down a slightly different route, but <b>Do Not</b> cut corners/sections out</li>
        <li>Mountain bikes are ground vehicles. If you want to use them to compete, go ahead.</li>
    </ul>

    <hr />
    <h5>Match Settings</h5>

    <p><b>Note:</b> Only edited settings are documented. If a setting is not mentioned in this section take it's value to be it's default value.</p>


    <h6>Basic</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Map</p>
        </div>
        <div class="settings-row">
            <p>Erangel</p>
        </div>
        <div class="settings-row">
            <p>Perspective</p>
        </div>
        <div class="settings-row">
            <p>Third Person Perspective (TPP)</p>
        </div>
        <div class="settings-row">
            <p>Battle Scale</p>
        </div>
        <div class="settings-row">
            <p>Platoon</p>
        </div>
        <div class="settings-row">
            <p>Max Players</p>
        </div>
        <div class="settings-row">
            <p>100</p>
        </div>
        <div class="settings-row">
            <p>Team Players</p>
        </div>
        <div class="settings-row">
            <p>10</p>
        </div>
    </div>


    <h6>Rules</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Down But Not Out (DBNO) Revive</p>
        </div>
        <div class="settings-row">
            <p>On</p>
        </div>
        <div class="settings-row">
            <p>DBNO Time [seconds]</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>DBNO Damage </p>
        </div>
        <div class="settings-row">
            <p>0.1</p>
        </div>
        <div class="settings-row">
            <p>Friendly Fire Damage</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Use Redzone</p>
        </div>
        <div class="settings-row">
            <p>Off</p>
        </div>
        <div class="settings-row">
            <p>Use Recall</p>
        </div>
        <div class="settings-row">
            <p>On</p>
        </div>
        <div class="settings-row">
            <p>Equipment Kit, Type</p>
        </div>
        <div class="settings-row">
            <p>Platoon</p>
        </div>
        <div class="settings-row">
            <p>Equipment Kit, Honour/Courage</p>
        </div>
        <div class="settings-row">
            <p>Utility</p>
        </div>
        <div class="settings-row">
            <p>Care Package Frequency</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Flare Gun Care Package</p>
        </div>
        <div class="settings-row">
            <p>Off</p>
        </div>
    </div>

    <h6>Spawns</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Item Spawn Type</p>
        </div>
        <div class="settings-row">
            <p>Adjustable Ratio and Adjustable Total Number</p>
        </div>
        <div class="settings-row">
            <p>Spawn Rate Multiplier</p>
        </div>
        <div class="settings-row">
            <p>2</p>
        </div>
        <div class="settings-row">
            <p>Ammunitions</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Throwables</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>C4</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>[All Other Weapons]</p>
        </div>
        <div class="settings-row">
            <p>[All Attachments]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Heal Items</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Self-AED</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Heal Items]</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Boost Items</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>[All Boost Items]</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>Gas Can</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Mountain Bike</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Consumables]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Backpack</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Backpack (Lv. 3)</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Backpacks]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Helmet</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Armoured Vest</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
    </div>

    <h6>Blue Zone</h6>
    <p>
        Blue Zone intial setup calculated using <a href="https://lunchmeat.zone/" target="_self" class="link"> https://lunchmeat.zone/ </a>
    </p>

    <img id="miramar-bluezones-image" src="images/fungrounds/miramar-bluezones-settings.png" alt="" loading="lazy" />
</div>