@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/training"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-training" class="rw-fungrounds">

    <PageHeader Text="Training" ImageSource="images/fungrounds/p32-treasure.svg" />

    <TabControl>
        <TabPage TabLabel="What is Training?">

            <div class="paragraph">
                <p>
                    Training is all about increasing your knowledge and upping your skills so you can survive longer and maybe even claim that delicious Chicken Dinner.
                </p>
            </div>

            <div class="learnings">
                <p><b>"Secret Training"</b></p>
                <p>Friendship</p>
            </div>
        </TabPage>
        <TabPage TabLabel="Match Procedure">
            <ul>
                <li>Join the match lobby.</li>
                <li class="nested-list">
                    <ul>
                        <li>The password will be provided via stream chat and discord.</li>
                    </ul>
                </li>
                <li> Join a Team.
                </li>
                <li>
                    Think about thing you want to ask or share. Such as:
                </li>
                <li class="nested-list">
                    <ul>
                        <li>General PUBG Knowledge</li>
                        <li>Attachments - types and what they do</li>
                        <li>Sniping - scopes, leading targets and bullet drop</li>
                        <li>Throwables</li>
                        <li>Weapon types</li>
                        <li>Basic roles - support, scout, sniper, close quarters</li>
                        <li>Advanced Roles - Fragger, Sniper, Scout, Aggro, Support and the likes</li>
                        <li>Map training and Parachute training - hot drops, looting, terrain, how to parachute further</li>
                    </ul>
                </li>
                <li>
                    Take part in some pre-match dancing/chatting/planning.
                </li>
                <li>
                    Learn until the time runs out. Matches should be 15 Minutes long [900 seconds].
                </li>
            </ul>

            <div class="winCondition">

                <p><b>Win Conditions</b></p>
                <p>Learn or Teach one thing.</p>

            </div>
        </TabPage>

        <TabPage TabLabel="Rules of Engagement">
            <ul>
                <li>Take a Tour of the Different Maps: Erangel, Karakin, Rondo, Deston, Vikendi, Taego, Paramo, Miramar, Haven, Sanhok</li>
                <li>Crate spawns will be boosted but other spawn rates will be normal to allow for a match to be in a "normal" state for a drop.</li>
                <li>All damage will be set to minimal. You can have a bit of a mess on if you want, but please respect what we are trying to achieve here.</li>
                <li>Matches will last 15 Minutes [900 seconds]. This time limit allows for a learning period but also for group swapping</li>
                <li>Teams should be set to sizes of 8, with at least 1 volunteer "Teacher" in each (number dependent)</li>
            </ul>
        </TabPage>

        <TabPage TabLabel="Match Settings">
            <p><b>Note:</b> Only edited settings are documented. If a setting is not mentioned in this section take it's value to be it's default value.</p>

            <h6>Basic</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Map</p>
                </div>
                <div class="settings-row">
                    <p>UNKNOWN</p>
                </div>
                <div class="settings-row">
                    <p>Perspective</p>
                </div>
                <div class="settings-row">
                    <p>Third Person Perspective (TPP)</p>
                </div>
                <div class="settings-row">
                    <p>Battle Scale</p>
                </div>
                <div class="settings-row">
                    <p>Team Battle</p>
                </div>
                <div class="settings-row">
                    <p>Max Players</p>
                </div>
                <div class="settings-row">
                    <p>100</p>
                </div>
                <div class="settings-row">
                    <p>Team Players</p>
                </div>
                <div class="settings-row">
                    <p>8</p>
                </div>
            </div>


            <h6>Rules</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    <p>Down But Not Out (DBNO) Revive</p>
                </div>
                <div class="settings-row">
                    <p>On</p>
                </div>
                <div class="settings-row">
                    <p>DBNO Time [seconds]</p>
                </div>
                <div class="settings-row">
                    <p>1</p>
                </div>
                <div class="settings-row">
                    <p>DBNO Damage</p>
                </div>
                <div class="settings-row">
                    <p>0.1</p>
                </div>
                <div class="settings-row">
                    <p>Friendly Fire Damage</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Customize Weapon Damage</p>
                </div>
                <div class="settings-row">
                    <p>0</p>
                </div>
                <div class="settings-row">
                    <p>Red Zone</p>
                </div>
                <div class="settings-row">
                    <p>Group Dependent</p>
                </div>
                <div class="settings-row">
                    <p>Use Recall</p>
                </div>
                <div class="settings-row">
                    <p>Off</p>
                </div>
                <div class="settings-row">
                    <p>Care Package Frequency</p>
                </div>
                <div class="settings-row">
                    <p>5</p>
                </div>
                <div class="settings-row">
                    <p>Flare Gun Care Package</p>
                </div>
                <div class="settings-row">
                    <p>On</p>
                </div>
                <div class="settings-row">
                    <p>Item Count Multiplier Per Car Package</p>
                </div>
                <div class="settings-row">
                    <p>3</p>
                </div>
            </div>

            <h6>Spawns</h6>

            <div class="matchSettings">
                <div class="settings-row">
                    All Spawns should be left at there default value.
                </div>
            </div>

            <h6>Blue Zone</h6>
            <p>
                Blue Zone initial setup calculated using <a href="https://lunchmeat.zone/" target="_blank" class="link"> https://lunchmeat.zone/ </a>
            </p>
            <img id="erangel-bluezones-image" src="images/fungrounds/training-bluezones-settings.jpg" alt="Table showing blue zone values for the different phases of the blue zone" loading="lazy" />

        </TabPage>

    </TabControl>
</div>