@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/treasurehunt"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-treasure-hunt" class="rw-fungrounds">

    <h1>
        <img class="icon" src="images/fungrounds/p32-treasure.svg" alt="" loading="lazy" />
        Treasure Hunt
        <img class="icon" src="images/fungrounds/p32-treasure.svg" alt="" loading="lazy" />
    </h1>

    <hr />
    <h5>What is Treasure Hunt?</h5>

    <p>
        Treasure Hunt is an everyone for themselves match as you race to collect and deliver five mystery items from around the Erangel map.
    </p>

    <hr />
    <h5>Match Procedure</h5>

    <ul>
        <li>Join the match lobby.</li>
        <li class="nested-list">
            <ul>
                <li>The password will be provided via stream chat and discord.</li>
            </ul>
        </li>
        <li>
            <div>Jump from the plane and make your way to the treasure hunt start location on the pointed cliff near Mylta Power on the southeastern side of Erangel.</div>
            <div class="graphic-with-caption">
                <p>Figure 1 (Below): Start Location near Mylta Power on Erangel. Map and On-Location Picture.</p>
                <div class="two-image-spread">
                    <img id="treasure-hunt-start-location-map" src="images/fungrounds/treasure-hunt-start-location-map.jpg" alt="Map showing treasure hunt start location on Erangel" loading="lazy" />
                    <img id="treasure-hunt-start-location-picture" src="images/fungrounds/treasure-hunt-start-location-picture.jpg" alt="Picture of treasure hunt starting location" loading="lazy" />
                </div>
            </div>
        </li>
        <li>On the way, pick up a level 3 backpack and a mountain bike.</li>
        <li class="nested-list">
            <ul>
                <li><b>Please</b> refrain from picking up anything else.</li>
            </ul>
        </li>
        <li>
            Arrive at the Start Location, take part in some pre-match dancing, and wait for the game runner to arrive.
        </li>
        <li>Once the game runner has arrived, and they have checked all competitors are present, a smoke grenade will be set off on the cliff and a mystery item will be placed.</li>
        <li class="underline"><b>Once the smoke fully clears the race will begin.</b></li>
        <li>Competitors will race to see, but not pick up, the mystery item.</li>
        <li>Competitors will then go off and find their own copy of the mystery item and add it to their backpack.</li>
        <li class="nested-list">
            <ul>
                <li> <b>Make sure to only pick up one copy/stack of the mystery item and no extra items. This will affect your ability to win.</b></li>
            </ul>
        </li>
        <li>
            <div>Once you have the first item you will need to travel to <b>Four</b> more locations around the map and repeat the process with <b>Four</b> other mystery items.</div>
            <div class="graphic-with-caption">
                <p>Figure 2 (Below): On-Location Pictures of the four other locations on Erangel where mystery items will be placed.</p>
                <div class="four-image-spread">
                    <a href="images/fungrounds/treasure-hunt-location-2.jpg" target="_self" class="link"><img id="treasure-hunt-location-2" src="images/fungrounds/treasure-hunt-location-2.jpg" alt="Picture of the base of Sosnovka Island Radio Mast" loading="lazy" /></a>
                    <a href="images/fungrounds/treasure-hunt-location-3.jpg" target="_self" class="link"><img id="treasure-hunt-location-3" src="images/fungrounds/treasure-hunt-location-3.jpg" alt="Picture of the lighthouse east of quarry" loading="lazy" /></a>
                    <a href="images/fungrounds/treasure-hunt-location-4.jpg" target="_self" class="link"><img id="treasure-hunt-location-4" src="images/fungrounds/treasure-hunt-location-4.jpg" alt="Picture of the Zharki lighthouse" loading="lazy" /></a>
                    <a href="images/fungrounds/treasure-hunt-location-5.jpg" target="_self" class="link"><img id="treasure-hunt-location-5" src="images/fungrounds/treasure-hunt-location-5.jpg" alt="Picture of camping tents north of Kameshki" loading="lazy" /></a>
                </div>
            </div>
        </li>
        <li class="nested-list">
            <ul>
                <li>There will be no waiting for these items to be placed as that should have occured before the race started.</li>
            </ul>
        </li>
        <li>
            <div>Once you have all <b>Five</b> items find the game runner stood atop the cannon at the following location.</div>
            <div class="graphic-with-caption">
                <p>Figure 3 (Below):  On-Location Pictures of the Race Finish Location on Erangel.</p>
                <a href="images/fungrounds/treasure-hunt-finish-location.jpg" target="_self" class="link"><img id="treasure-hunt-finish-location" src="images/fungrounds/treasure-hunt-finish-location.jpg" alt="Map showing treasure hunt start location on Erangel" loading="lazy" /></a>
            </div>
        </li>
        <li>On arrival the game runner will take you aside and check you have the correct, <b>and only the correct</b>, items.</li>
        <li class="nested-list">
            <ul>
                <li>If the game runner is not on the cannon when you arrive please form an orderly queue flowing south down the nearby hillside.</li>
                <li>The check will involve dumping all you stuff onto the ground at a selected location.</li>
                <li>A signal will be used to indicate if you have won. This will be an emote, spray, or a series of punches.</li>
            </ul>
        </li>
    </ul>

    <div class="winCondition">

        <p><b>Win Conditions</b></p>
        <p>The winner is the first one to bring all five items to the game runner.</p>

    </div>

    <hr />
    <h5>Rules of Engagement</h5>

    <ul>
        <li>Only after the race has started may you use vehicles, other than mountain bikes, to travel around the map</li>
        <li>Picking an item up off the floor, or out of a box, faster than someone else is not stealing in this mode.</li>
        <li class="nested-list">
            <ul>
              <li>Please don't grief people for this action</li>
            </ul>
        </li>    
    </ul>

    <hr />
    <h5>Match Settings</h5>

    <p><b>Note:</b> Only edited settings are documented. If a setting is not mentioned in this section take it's value to be it's default value.</p>
    <p><b>Note:</b> The Battle Scale of this mode may change depending on the numbers of players so the landshark is not visible on anyone's minimap</p>

    <h6>Basic</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Map</p>
        </div>
        <div class="settings-row">
            <p>Deston</p>
        </div>
        <div class="settings-row">
            <p>Perspective</p>
        </div>
        <div class="settings-row">
            <p>Third Person Perspective (TPP)</p>
        </div>
        <div class="settings-row">
            <p>Battle Scale</p>
        </div>
        <div class="settings-row">
            <p>Platoon</p>
        </div>
        <div class="settings-row">
            <p>Max Players</p>
        </div>
        <div class="settings-row">
            <p>100</p>
        </div>
        <div class="settings-row">
            <p>Team Players</p>
        </div>
        <div class="settings-row">
            <p>10</p>
        </div>
    </div>


    <h6>Rules</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Down But Not Out (DBNO) Revive</p>
        </div>
        <div class="settings-row">
            <p>On</p>
        </div>
        <div class="settings-row">
            <p>DBNO Time [seconds]</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>DBNO Damage</p>
        </div>
        <div class="settings-row">
            <p>0.1</p>
        </div>
        <div class="settings-row">
            <p>Friendly Fire Damage</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Red Zone</p>
        </div>
        <div class="settings-row">
            <p>Off</p>
        </div>
        <div class="settings-row">
            <p>Use Recall</p>
        </div>
        <div class="settings-row">
            <p>On</p>
        </div>
        <div class="settings-row">
            <p>Care Package Frequency</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Flare Gun Care Package</p>
        </div>
        <div class="settings-row">
            <p>Off</p>
        </div>
    </div>

    <h6>Spawns</h6>

    <div class="matchSettings">
        <div class="settings-row">
            <p>Item Spawn Type</p>
        </div>
        <div class="settings-row">
            <p>Adjustable Ratio and Adjustable Total Number</p>
        </div>
        <div class="settings-row">
            <p>Spawn Rate Multiplier</p>
        </div>
        <div class="settings-row">
            <p>2</p>
        </div>
        <div class="settings-row">
            <p>Ammunitions</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Throwables</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>C4</p>
        </div>
        <div class="settings-row">
            <p>1</p>
        </div>
        <div class="settings-row">
            <p>[All Other Weapons]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>[All Attachments]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Heal Items</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Med Kit</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Self-AED</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Heal Items]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>[All Other Consumables]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Backpack</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>Backpack (Lv. 3)</p>
        </div>
        <div class="settings-row">
            <p>3</p>
        </div>
        <div class="settings-row">
            <p>[All Other Backpacks]</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Helmet</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
        <div class="settings-row">
            <p>Armoured Vest</p>
        </div>
        <div class="settings-row">
            <p>0</p>
        </div>
    </div>

    <h6>Blue Zone</h6>
    <p>
        Blue Zone intial setup calculated using <a href="https://lunchmeat.zone/" target="_blank" class="link"> https://lunchmeat.zone/ </a>
    </p>
    <img id="erangel-bluezones-image" src="images/fungrounds/erangel-bluezones-settings.png" alt="Table showing blue zone values for the different phases of the blue zone" loading="lazy" />

</div>