@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/treasurehunt"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-treasure-hunt">

    <h1>Here be Treasure!</h1>

    <hr rounded />

</div>