@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/weapon-variants"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-weapon-variants">
    
    <h1>Bangs, Pans, & Panzerfaust</h1>

</div>