@using RandomWorkings.github.io.Components.Shared;
@page "/fungrounds/weaponvariant"
<PageTitle>P32 Fungrounds</PageTitle>

<div id="rw-weapon-variant">
    
    <h1>Bangs, Pans, & Panzerfaust</h1>
    
    <hr rounded />

</div>