@page "/"
<PageTitle>Index</PageTitle>

<div>
    <img loading="lazy" src="images/channel/Channel_Banner_Twitter.jpg" alt="Channel Banner Image. Reads: Random Workings. We talk, play, make and do. New videos every week." asp-append-version="true" style=
    "object-fit:contain; width:100%;height:100%; max-width: 900px; display: block;margin-left: auto;margin-right: auto;outline-color:black;outline-style: solid;">

</div>

<h1>Hello World!</h1>

This is the Random Workings website and it is still a Work in Progress (WIP).
<br>
<br> And yes I do like Comic Sans.
<br>
<br>This project is built with
<ul>
    <li>ASP.Net 6.0</li>
    <li>Blazor Web Assembly Project</li>
</ul>

<hr class="rounded">

<h2>Help & Accreditation</h2>

<h4>General Help </h4>
<ul>
    <li><a href="https://www.w3schools.com/css/default.asp" target="_blank">W3 Schools</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web" target="_blank">Mozilla Development Documentation</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/" target="_blank">Microsoft Asp.Net Documentation</a></li>
    <li><a href="https://docs.github.com/en/pages" target="_blank">GitHub Pages</a></li>
    <li><a href="https://getbootstrap.com/docs/" target="_blank">Bootstrap Documentation</a></li>
</ul>

<h4>Game Development </h4>
<ul>
    <li><a href="https://github.com/exceptionnotfound/BlazorGames" target="_blank">Exception Not Found's Blazor Games GitHub Repository</a></li>
    <li><a href="https://blazorgames.net/" target="_blank">Exception Not Found's Blazor Games Website</a></li>
    <li><a href="https://exceptionnotfound.net/tetris-in-blazor-webassembly/" target="_blank">Exception Not Found's personal site</a></li>
</ul>

<h4>GitHub Workflow Setup</h4>
<ul>
    <li><a href="https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages/" target="_blank">[Swimburger Article] How to deploy ASP.NET Blazor WebAssembly to GitHub Pages</a></li>
    <li><a href="https://github.com/actions/checkout/" target="_blank">GitHub's Checkout Action</a></li>
    <li><a href="https://github.com/actions/setup-dotnet/" target="_blank">GitHub's Setup .Net Action'</a></li>
    <li><a href="https://github.com/JamesIves/github-pages-deploy-action/" target="_blank">James Ives' GitHub Pages Deploy Action</a></li>

</ul>
