@using RandomWorkings.github.io.Components.Shared;
@page "/"
<PageTitle>Index</PageTitle>

<div>
    <div id="home-brand" class="mb-4">
        <img src="images/icons/random-workings/rw-rabbit-talks-happy.svg" alt="Random Workings Talks logo" loading="lazy" />
        <img src="images/icons/random-workings/rw-rabbit-plays-confused.svg" alt="Random Workings Plays logo" loading="lazy" />
        <img src="images/icons/random-workings/rw-rabbit-makes-shy.svg" alt="Random Workings Makes logo" loading="lazy" />
        <img src="images/icons/random-workings/rw-rabbit-does-dizzy.svg" alt="Random Workings Does logo" loading="lazy" />
        <img src="images/icons/random-workings/rw-rabbit-clips-neutral.svg" alt="Random Workings Clipes logo" loading="lazy" />
    </div>

    <h1>Hello World!</h1>

    <p>This is the Random Workings' website, and it is quite clearly still a Work in Progress (WIP).</p>

    <div class="paragraph">
        <p>This project was built with the following:</p>
        <ul>
            <li>ASP.Net 6.0</li>
            <li>Blazor Web Assembly Project</li>
        </ul>
    </div>

</div>