<div @attributes=@ButtonModel.ButtonAttributes>
    <a @attributes=@ButtonModel.Link.Attributes>
        <div class="row justify-content-center">
            <div @attributes=@ButtonModel.ImageZoneAttributes>
                <img @attributes=@ButtonModel.Image.Attributes />
            </div>
            <div @attributes=@ButtonModel.TextZoneAttributes>@ButtonModel.Text</div>
        </div>
    </a>
</div>