@using RandomWorkings.github.io.Components.Shared
@inherits Component

<footer id="footer" class="py-4 py-md-5">
    <div class="container px-4 px-md-3">

        <div class="footer">

            <a id="footer-brand" class="image navbar-brand" href="/" aria-label="Random Workings Logo">
                <img src="images/icons/random-workings/rw-logo.svg" alt="Random Workings logo" loading="lazy" />
            </a>

            <JumpToTopButton 
                Id="jump-to-top"
                         Text="Back To Top"
                         Src="images/icons/common/icon-up-angles.svg"
                         Width="15px"
                         Height="15px"
                         AlternativeText="Double chevron pointing upward"
                         Href="#header"
                TitleAttribute="Link to pull you up to top of page"
            ></JumpToTopButton>

            <div>
                <a id="footer-text" class="col-auto" href="https://docs.github.com/en/pages">
                    Powered by GitHub Pages
                </a>
            </div>

        </div>
    </div>
</footer>

