#footer
{
    border-top: 5px solid;
    background-color: var(--bg-grey-dark);
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-brand img
{
    width: 50px;
}

@media(min-width: 575px)
{
    #footer-brand img
    {
        width: 100px;
    }
}

#button-jump-to-top
{
    width: auto;
}

#footer-text
{
}