@using RandomWorkings.github.io.Components.Shared
@inherits Component

<footer id="footer" class="py-4 py-md-5">
    <div class="container py-4 py-md-5 px-4 px-md-3">

        <div class="row">

            <ImageButton Id="jump-to-top"
                         Text="Back To Top"
                         Src="images/icons/common/icon-up-angles.svg"
                         Width="15px"
                         Height="15px"
                         AlternativeText="Double chevron pointing upward"
                         Href="#header"
                         TitleAttribute="Link to pull you up to top of page"></ImageButton>

        </div>
    </div>
</footer>