#footer
{
    border-top: 5px solid;
    background-color: var(--rw-notice-grey-dark);
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-brand img
{
    width: 50px;
}

#button-jump-to-top
{
    width: auto;
}

@media (max-width: 575px)
{
    #footer
    {
    }

    #footer-text
    {
        font-size: 0.8rem;
    }

    #footer-brand
    {
        display: none;
    }
}

@media (min-width: 575px)
{
    #footer-text
    {
        font-size: 1rem;
    }
}