#header, #body, #footer
{
    font-family: 'Comic Sans MS', 'Comic Sans', cursive, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    color: #000;
}

#header
{
    padding: 0.75rem 0;
    background-color: #323232;
}

#body
{
    display: grid;
    grid-template-areas: "sidebar content";
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
}


#pages
{
    grid-area: sidebar;
}

@media (min-width: 992px)
{

    #pages
    {
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
        display: block !important;
        height: calc(100vh - 6rem);
        padding-left: 0.25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
        background-color: #323232;
    }
}

#content
{
    display: grid;
    order: 1;
    grid-area: main;
    gap: inherit;
    grid-template-areas: "content";
    grid-template-rows: auto 1fr;
}

#footer
{
    background-color: #B2B2B2;
}
