@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row row px-4">
            <div class="col-auto"><span>Find Us Here:</span></div>
            <div class="col-auto p-0">
                <Button ButtonModel=YouTube></Button>
            </div>
            <div class="col-auto p-0">

                <Button ButtonModel=GitHub></Button>

            </div>
            <div class="col-auto p-0 me-auto">
                <Button ButtonModel=ReferencePage></Button>
            </div>
        </div>

        <article class="px-4 pt-4">
            @Body
        </article>
    </main>
</div>
