
.page
{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #B2B2B230;
}

main
{
    flex: 1;
}

.sidebar
{
    background-color: #323232;
    background-size: 100% 100%;
    background-repeat: repeat-y;
}

.top-row
{
    color: #fff;
    background-color: #323232;
    justify-content: flex-start;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep .button
    {        
        border-radius: 4px;
        background-color: #B2B2B2;
    }

@media (max-width: 640.98px)
{

    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

}

@media (min-width: 641px) {
    .page {
        flex-direction: row;

    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        /*position: sticky;*/
        top: 0;
        z-index: 1;
    }
}
