@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row row px-4">
            <div class="col-auto"><span>Find Us Here:</span></div>
            <div class="col-auto p-1 mx-1 align-middle">
                <div class="row">
                    <a href="https://www.youtube.com/channel/UCE_oP0PoaZSFqwWV9Bs0rTA/" target="_blank" title="Link to Youtube" lang="en-gb">
                        <img class="pe-2 img-fluid" src="images/icons/social-media/brand-youtube.svg" alt="Youtube icon" loading="lazy" />
                        <span>YouTube</span>
                    </a>
                </div>
            </div>
            <div class="col-auto p-1 mx-1 align-middle">
                <a href="https://github.com/RandomWorkings/" target="_blank" title="Link to GitHub" lang="en-gb">
                    <img class="pe-2 img-fluid" src="images/icons/social-media/brand-github.svg" alt="GitHub icon" loading="lazy" />
                    <span>GitHub</span>
                </a>
            </div>
            <div class="col-auto p-1 mx-1 align-middle me-auto">
                <a href="https://linktr.ee/Random_Workings" target="_blank" title="Link to Linktree Reference Page" lang="en-gb">
                    <img class="pe-2 img-fluid" src="images/icons/social-media/brand-linktree.svg" alt="Linktree icon" loading="lazy" />
                    <span>Linktree</span>
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
