@using RandomWorkings.github.io.Components.Shared
@inherits LayoutComponentBase

<IconStore/>

<NavBar/>

<div id="body" class="container-xxl mt-3 my-md-4">
    <aside id="pages" class="sidebar">
        <SideBar/>
    </aside>
    <main id="content" class="p-4">
        @Body
    </main>       
</div>

<Footer/>