@media (min-width: 992px)
{
    #body
    {
        display: grid;
        grid-template-areas: "sidebar content";
        grid-template-columns: auto 5fr;
        gap: 1rem;
    }
}

#pages
{
    grid-area: sidebar;
}

#content
{
    grid-area: content;
    background-color: var(--rw-notice-grey-light);    
    order: 1;    
    border-radius: 1rem;
    box-shadow: 0 0 0 2px #000;
}


@media (min-width: 992px)
{
    #content
    {
    }

    #pages
    {
        position: -webkit-sticky;
        position: sticky;
        top: 9rem;
        display: block !important;
        height: calc(100vh - 5rem);
        padding-left: 0.25rem;
        margin-left: -0.25rem;
        overflow-y: auto;
        background-color: var(--rw-notice-grey-light);
        border-radius: 1rem;
        box-shadow: 0 0 0 2px #000;
    }
}

@media (max-width: 991.98px)
{
    #content
    {
        max-width: 760px;
        margin-inline: auto;
        min-height: calc(100vh - 5rem);
    }
}

@media (min-width: 768px)
{
    #content
    {

    }
}