#header
{
    padding: 0.75rem 0;
    border-bottom: 5px solid;
    background-color: var(--bg-grey-dark);
}

.offcanvas-body
{
    align-items: center;
    justify-content: end;
}

.navbar-toggler
{
    box-shadow: 0px 0px 0px 2px var(--rw-rabbit-blue-highlight);
    border-radius: 0.25rem;
    border: none;
    background-color: var(--bg-grey-light);
}

.navbar-toggler:focus
{
    box-shadow: 0px 0px 0px 2px var(--rw-rabbit-red);
    border-radius: 0.25rem;
}

.navbar-toggler:hover
{
    box-shadow: 0px 0px 0px 2px var(--rw-rabbit-red);
    border-radius: 0.25rem;
}

.navbar-toggler svg
{
    width: 1.5rem;
    height: 1.5rem;
}

nav .offcanvas-lg
{
    background-color: var(--rw-talks-grey);
}

    nav ::deep .button
    {
        border-radius: 4px;
    }

#navbar-brand img
{
    width: 50px;
}

@media(min-width: 575px)
{
    #navbar-brand img
    {
        width: 100px;
    }
}


@media (min-width: 641px)
{
    nav
    {
        /*position: sticky;*/
        top: 0;
        z-index: 1;
    }

    .navbar-toggler, .offcanvas-title
    {
        display: none;
    }
}

@media (max-width: 991.98px)
{
    #navbar-toggler
    {
        width: 4.25rem;
    }

    #sidebar-toggler
    {
        width: 4.25rem;
    }
}
