<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Random Workings</a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
                <span class="oi" aria-hidden="true"></span>
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="rw-talks" class="nav-link" href="talks">
                <img loading="lazy" src="images/icons/random-workings/Bits_Neutral.png" width=30 />
                <span class="oi" aria-hidden="true"></span>
                Talks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="rw-plays" class="nav-link" href="plays">
                <img loading="lazy" src="images/icons/random-workings/Plays_Neutral.png" width=30 /><span class="oi" aria-hidden="true"></span> Plays
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="rw-plays" class="nav-link" href="fungrounds">
                <img loading="lazy" src="images/fungrounds/PUBG shark.png" width=30 /><span class="oi" aria-hidden="true"></span> P32 Fungrounds
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="rw-makes" class="nav-link" href="makes">
                <img loading="lazy" src="images/icons/random-workings/Makes_Neutral.png" width=30 /><span class="oi" aria-hidden="true"></span> Makes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink id="rw-does"  class="nav-link" href="does">
                <img loading="lazy" src="images/icons/random-workings/Does_Neutral.png" width=30 /><span class="oi" aria-hidden="true"></span> Does
            </NavLink>
        </div>
    </nav>
</div>