<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Random Workings</a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-pie-chart" aria-hidden="true"></span> Video Metics
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="talks">
                <img loading="lazy" src="../Images/Icons/Bits_Neutral.png" width=30 /><span class="oi" aria-hidden="true"></span> Talks
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="plays">
                <img loading="lazy" src="../Images/Icons/Plays_Neutral.png" width=30 /><span class="oi" aria-hidden="true"></span> Plays
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="makes">
                <img loading="lazy" src="../Images/Icons/Makes_Neutral.png" width=30 /><span class="oi" aria-hidden="true"></span> Makes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="does">
                <img loading="lazy" src="../Images/Icons/Does_Neutral.png" width=30 /><span class="oi" aria-hidden="true"></span> Does
            </NavLink>
        </div>
    </nav>
</div>