@using RandomWorkings.github.io.Components.Shared;
@inherits Component

<div class="offcanvas-lg offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarOffcanvasLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close" data-bs-target="#sidebar"></button>
    </div>

    <div class="offcanvas-body">
        <nav class="bd-links w-100" id="bd-docs-nav" aria-label="Pages navigation">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>
                    Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink id="rw-talks" class="nav-link" href="talks" >
                    <img loading="lazy" class="pe-2" src="images/icons/random-workings/rw-rabbit-talks-happy.svg" width=30 />   
                    Talks
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink id="rw-plays" class="nav-link" href="plays" >
                    <img loading="lazy" class="pe-2" src="images/icons/random-workings/rw-rabbit-plays-confused.svg" width=30 />
                    Plays
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink id="rw-plays" class="nav-link" href="fungrounds" >
                    <img loading="lazy" class="pe-2" src="images/fungrounds/PUBG shark.png" width=30 />
                    P32 Fungrounds
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink id="rw-makes" class="nav-link" href="makes" >
                    <img loading="lazy" class="pe-2" src="images/icons/random-workings/rw-rabbit-makes-shy.svg" width=30 />
                    Makes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink id="rw-does" class="nav-link" href="does" >
                    <img loading="lazy" class="pe-2" src="images/icons/random-workings/rw-rabbit-does-dizzy.svg" width=30 />
                    Does
                </NavLink>
            </div>
        </nav>

    </div>
</div>

