#sidebar
{
    background-color: var(--rw-talks-grey);
}

.nav-link
{
    display: grid;
    gap: 0;
}

.oi
{
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item
{
    font-size: 0.9rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type
    {
        padding-top: 1rem;
    }

    .nav-item:last-of-type
    {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a
    {
        outline: 2px solid var(--rw-rabbit-blue);
        color: #000;
        background-color: var(--rw-talks-grey-tint-55);
        border-radius: 4px;
        height: 3rem;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item ::deep a.active
        {
            background-color: var(--rw-talks-grey-dark);
            color: #000;
            outline: 2px solid var(--rw-zombie-orange);
        }

        .nav-item ::deep a:hover
        {
            outline: 2px solid var(--rw-rabbit-red);
            color: #000;
        }

@media (min-width: 641px)
{
    .collapse
    {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.nav-item ::deep #rw-talks
{
    color: #000;
    background-color:  var(--rw-talks-orange-light);
}

    .nav-item ::deep #rw-talks.active
    {
        background-color:  var(--rw-talks-orange-dark);
    }

.nav-item ::deep #rw-plays
{
    color: #000;
    background-color: var(--rw-plays-blue-light);
}

    .nav-item ::deep #rw-plays.active
    {
        background-color: var(--rw-plays-blue-dark);
    }

.nav-item ::deep #rw-makes
{
    color: #000;
    background-color: var(--rw-makes-green-light);
}

    .nav-item ::deep #rw-makes.active
    {
        background-color: var(--rw-makes-green-dark);
    }

.nav-item ::deep #rw-does
{
    color: #000;
    background-color: var(--rw-does-pink-light);
}

    .nav-item ::deep #rw-does.active
    {
        background-color: var(--rw-does-pink-dark);
    }
