@using RandomWorkings.github.io.Components.Shared
@page "/accreditations"
<PageTitle>Our Thanks</PageTitle>

<div id="rw-accreditations">

    <h1>Accreditations</h1>

    <hr/>

    <h5>General Help </h5>
    <ul>
        <li><a href="https://www.w3schools.com/css/default.asp" target="_blank">W3 Schools</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Web" target="_blank">Mozilla Development Documentation</a></li>
        <li><a href="https://docs.microsoft.com/aspnet/" target="_blank">Microsoft Asp.Net Documentation</a></li>
        <li><a href="https://docs.github.com/en/pages" target="_blank">GitHub Pages</a></li>
        <li><a href="https://getbootstrap.com/docs/" target="_blank">Bootstrap Documentation</a></li>
        <li><a href="https://www.w3.org/WAI/WCAG21/quickref/" target="_blank">World Wide Web Consortium (W3C) Web Accessibility Initiative (WAI) Web Content Accessibility Guidelines (WCAG) 2 Requirement Documentation </a></li>
        <li><a href="https://blazor-university.com/" target="_blank">Blazor Tutorial Site</a></li>
    </ul>
    
    <hr/>

    <h5>Game Development </h5>
    <ul>
        <li><a href="https://github.com/exceptionnotfound/BlazorGames" target="_blank">Exception Not Found's Blazor Games GitHub Repository</a></li>
        <li><a href="https://blazorgames.net/" target="_blank">Exception Not Found's Blazor Games Website</a></li>
        <li><a href="https://exceptionnotfound.net/tetris-in-blazor-webassembly/" target="_blank">Exception Not Found's personal site</a></li>
    </ul>

    <hr/>

    <h5>GitHub Workflow Setup</h5>
    <ul>
        <li><a href="https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages/" target="_blank">[Swimburger Article] How to deploy ASP.NET Blazor WebAssembly to GitHub Pages</a></li>
        <li><a href="https://github.com/actions/checkout/" target="_blank">GitHub's Checkout Action</a></li>
        <li><a href="https://github.com/actions/setup-dotnet/" target="_blank">GitHub's Setup .Net Action'</a></li>
        <li><a href="https://github.com/JamesIves/github-pages-deploy-action/" target="_blank">James Ives' GitHub Pages Deploy Action</a></li>

    </ul>

</div>