@page "/"
<PageTitle>Index</PageTitle>

<div>
    <img src="Images/Channel_Banner_Twitter.jpg" alt="Channel Banner Image. Reads: Random Workings. We talk, play, make and do. New videos every week." asp-append-version="true" style=
    "width:1000px;height:338px;display: block;margin-left: auto;margin-right: auto;outline-color:black;outline-style: solid;">

</div>

<div style="padding-top:10px">

<h1>Hello World!</h1>

This is the Random Workings Website and its still Working in Progress (WIP).

And yes alot I do like Comic Sans.
</div>