@page "/"
<PageTitle>Index</PageTitle>

<div>
    <img src="Images/Channel_Banner_Twitter.jpg" alt="Channel Banner Image. Reads: Random Workings. We talk, play, make and do. New videos every week." asp-append-version="true" style=
    "width:1000px;height:338px;display: block;margin-left: auto;margin-right: auto;outline-color:black;outline-style: solid;">

</div>

<div style="padding-top:10px">

<h1>Hello World!</h1>

This is the Random Workings Website and its still Working in Progress (WIP).
<br><br>
And yes I do like Comic Sans.

This project is 
<ul>
    <li>ASP.Net 6.0</li>
    <li>Blazor Web Application Project.</li>
</ul>

Thanks to the following sources of help and information
<ul>
    <li><a href="https://www.w3schools.com/css/default.asp" target="_blank">W3 Schools</a></li>
    <li><a href="https://docs.microsoft.com/aspnet/" target="_blank">ASP.NET Docs</a></li>
    <li><a href="https://pages.github.com/" target="_blank">Git Hub Pages</a></li>
    <li><a href="https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages/" target="_blank">Deploy Blazor App to Pages</a></li>
</ul>
</div>