@page "/plays"
<PageTitle>Plays</PageTitle>

<div style="padding-top:10px">

    <h1>Hello World!</h1>

    This is the Random Workings Plays page.

</div>
<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLlTIJheRkeZcc1kUJZbHJsD8BHWvbBZhT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="padding:5px;border:5px solid black;border-radius: 25px;" />
</div>