@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Find Us Here:
            <a href="https://www.youtube.com/channel/UCE_oP0PoaZSFqwWV9Bs0rTA/" target="_blank">YouTube</a>
            <a href="https://twitter.com/Random_Workings/" target="_blank">Twitter</a>
            <a href="https://www.instagram.com/random_workings/" target="_blank">Instagram</a>
            <a href="https://github.com/RandomWorkings/" target="_blank">Git Hub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
