@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            Helpful Site Building Links:
            <a href="https://www.w3schools.com/css/default.asp" target="_blank">W3 Schools</a>
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">ASP.NET Docs</a>
            <a href="https://pages.github.com/" target="_blank">Git Hub Pages</a>
            <a href="https://swimburger.net/blog/dotnet/how-to-deploy-aspnet-blazor-webassembly-to-github-pages/" target="_blank">Deploy Blazor App to Pages</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
